<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ site.baseurl }}/">
			{% if site.breadcrumb_icon %}
			{{ site.breadcrumb_icon }}
			{% endif %}
			{{ locale[site.title_short] }}
		</a>
	</li>
	<li class="breadcrumb-item">
		{% if page.locale.name == 'Global' %}{% assign lang_id = '/' %}{% else %}{% assign lang_id = page.locale.id | append: '/' %}{% endif %}
		<a href="{{ lang_id  | absolute_url }}">
			{{ page.locale.name }}
		</a>
	</li>
	<li class="breadcrumb-item active">
		{{ locale.page | replace: '$number', paginator.page }}
	</li>
</ol>
