<nav class="navbar noprint {{ site.navbar_class | default: 'navbar-expand-md' }}">

    <a class="navbar-brand">
      <img src="/dsa-planet/assets/images/icon.svg" alt="DSA" title="DSA Planet" />
    </a>

    <a class="navbar-brand" href="/dsa-planet/">DSA Planet</a>

    <ul class="nav navbar-nav mr-auto flex-md-shrink-0">
      
        <li class="nav-item">
          <a class="nav-link" href="https://act.dsausa.org/donate/membership/">
            Join DSA
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/dsa-planet/global/atom.xml">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M3 17a4 4 0 0 1 4 4H3v-4zm0-7c6.075 0 11 4.925 11 11h-2a9 9 0 0 0-9-9v-2zm0-7c9.941 0 18 8.059 18 18h-2c0-8.837-7.163-16-16-16V3z" fill="currentColor"></path></svg>
            Atom Feed
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/dsa-planet/global/rss20.xml">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M3 17a4 4 0 0 1 4 4H3v-4zm0-7c6.075 0 11 4.925 11 11h-2a9 9 0 0 0-9-9v-2zm0-7c9.941 0 18 8.059 18 18h-2c0-8.837-7.163-16-16-16V3z" fill="currentColor"></path></svg>
            RSS 2.0 Feed
          </a>
        </li>
        
      </ul>
</nav>

