<div class="row m-0">
	<div class="col-2 offset-md-1 col-md-1 p-0 d-md-block d-none">
		{% include avatar.html class="avatar rounded" %}
	</div>
	<div class="col-12 col-md-8 p-0">
		<div class="card mb-3 card-sm-border-0">
			<div class="row m-0 border-bottom">
				<div class="col-auto d-md-none d-flex p-0">
					{% include avatar.html width="48px" class="my-auto mr-2" %}
				</div>
				<div class="col card-header d-flex justify-content-between pl-1 pl-md-3 border-0">
					<div>
						{% capture post_author %}
						<a href="{{ post.link }}">{{ post.author }}</a>
						<a href="{{ post.rss }}">{% include icons/feed.svg %}</a>
						{% endcapture %}
						{% capture post_language %}
						{% assign lang = site.localization.locales_set[post.tags.first] %}
						<a class="text-muted" href="{{ site.baseurl }}/{{ post.tags.first }}/">{{ lang.name }}</a>
						{% endcapture %}
						{% capture post_time %}
						<a class="text-muted" href="{{ post.original_link }}">{{ post.created_at | date: "%H:%M" }}</a>
						{% endcapture %}
						<span class="text-muted">
							{% if include.language %}
							{{ locale.postedinat | replace: '$author', post_author | replace: '$language', post_language | replace: '$time', post_time }}
							{% else %}
							{{ locale.postedat | replace: '$author', post_author | replace: '$time', post_time }}
							{% endif %}
						</span>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h2>
					<a href="{{ post.original_link }}">{{ post.title }}</a>
				</h2>
				<div class="roller">
					<script type="text/javascript">
						function toggleButton(id) {
							function expand(e) {
								const elementToChange = document.getElementById(`content_${id}`);
								if (e.target.getAttribute('aria-expanded') === 'true') {
									elementToChange.style.maxHeight = "50vh";
									setTimeout(function () {
										e.target.scrollIntoView({behavior: "smooth", block: "start"});
									}, 250);
									return
								}
								elementToChange.style.maxHeight = "100%";
								return
							}

							function buttonStyle(e) {
								if (e.target.getAttribute('aria-expanded') === 'true') {
									e.target.setAttribute('aria-expanded', 'false');
									e.target.innerHTML = "{{ locale.showmore }}";
									return
								}
								e.target.setAttribute('aria-expanded', 'true');
								e.target.innerHTML = "{{ locale.showless }}";
								return
							}

							const button = document.getElementById(`button_${id}`)
							button.addEventListener('click', expand);
							button.addEventListener('click', buttonStyle);
						}

						document.addEventListener("DOMContentLoaded", function () {
							toggleButton('{{ post.guid | slugify }}')
						});
					</script>
					<div class="roller-item"
						id="content_{{ post.guid | slugify }}">
						{{ post.content }}
					</div>
					<button class="roller-button btn btn-primary mt-3"
						id="button_{{ post.guid | slugify }}"
						aria-expanded="false">
						{{ locale.showmore }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>