name: Jekyll Feed Tests

on:
  push:
    paths:
      - 'tests/feedcheck*.rb'
      - .github/workflows/feeds.yml
      - planet.ini
      - Gemfile
      - Gemfile.lock
    branches: [ master ]
  pull_request:
    paths:
      - 'tests/feedcheck*.rb'
      - .github/workflows/feeds.yml
      - planet.ini
      - Gemfile
      - Gemfile.lock
    branches: [ master ]
  workflow_dispatch:

jobs:
  feed-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@v1.172.0
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: Install Dependencies
        run: bundler install

      - name: Check Feeds
        run: bundle exec ruby tests/feedcheck.rb